*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog
{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.blog > .box > a
{
    text-decoration: none;
    color: white;
}
